#main-panel {
    -fx-background-color: rgb(202, 218, 236);
    -fx-spacing: 10px;
    -fx-padding: 10px;
}

#checkbox-panel {
    -fx-spacing: 10px;
}

#radio-panel {
    -fx-spacing: 10px;
}

#dropdown-panel {
    -fx-spacing: 10px;
}

VBox, HBox {
    -fx-border-width: 2px;
    -fx-border-color: rgb(100, 100, 100);
}

.dropdown {
    -fx-border-width: 4px;
    -fx-border-color: red;
}